<!DOCTYPE html>
<html lang="en">

<head th:include="common :: header"/>

<body>

<div th:include="common :: header"></div>

<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Contact us at:</h1>

        <p>Patrick Kranz &lt;kranzpa@fh-trier.de&gt;</p>

        <p>Tobias Krumholz &lt;krumholt@fh-trier.de&gt;</p>

    </div>

</div>


<!-- Bootstrap transactions JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
</body>
</html>
