<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="common :: head" />

<body>
	<div th:include="common :: navbar"></div>

	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Create Images</strong> <small>upload images</small>
			</div>
			<div class="panel-body">

				<h4>Select files from your computer</h4>
				<form action="" method="post" enctype="multipart/form-data"
					id="js-upload-form">
					<div class="form-inline">
						<div class="form-group">
							<input type="file" name="files[]" id="js-upload-files" multiple="multiple" />
						</div>
						<button type="submit" class="btn btn-sm btn-primary"
							id="js-upload-submit">Upload files</button>
					</div>
				</form>

				<!-- Drop Zone -->
				<h4>Or drag and drop files below</h4>
				<div class="upload-drop-zone" id="drop-zone">Just drag and
					drop files here</div>

				<div class="js-upload-finished">
					<h3>Processed files</h3>
					<div class="list-group" id="result-list">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /container -->


	<!-- Bootstrap transactions JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/resources/js/bootstrap.min.js"></script>
	<script src="/resources/js/upload.js"></script>
</body>
</html>
