<!DOCTYPE html>
<html lang="en">

<head th:include="common :: head" />

<body>

	<div th:include="common :: navbar"></div>

	<div class="container">
		<img class="img-responsive" src="resources/img/404.jpg" />
	</div>


	<!-- Bootstrap transactions JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/resources/js/bootstrap.min.js"></script>
</body>
</html>
